:root {
    --base-font-size: 1rem;
    --medium-font-size: 2rem;
    --basic-font-size: 1.125rem;
    --color: #fff;
    --description-color: rgb(192, 192, 192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* shared styles start */
.display-flex {
    display: flex;
    align-items: center;
}

.text-align {
    text-align: center;
}

/* shared styles end */

/* navigation styles start */
nav {
    text-align: right;
    width: 90%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 50px;
}

nav ul li a {
    text-decoration: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #F9F9F9;
    padding: 15px 17px;
    text-transform: uppercase;
    display: inline-block;
}

/* navigation styles end */


/* header section start */
header {
    background: url('../asstes/Background.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* header section end */

/* banner-section styles start */
.banner-content-text {
    width: 650px;
    margin: 0 200px;
}

.button {
    gap: 34px;
}

.button a,
.planner-btn {
    border-radius: 4px;
    background: rgb(0, 99, 229);
    padding: 22px 75px;
    gap: 34px;
    margin-top: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}


.banner-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--description-color);
    font-family: Poppins;
    padding: 24px 0;
}

.banner-text p a {
    color: var(--color);
}

.banner-text h3 {
    color: rgb(192, 192, 192);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 2rem;
}

.banner-alt-info {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 120px;
}

.banner-alt-info a {
    color: #F9F9F9;
    font-size: var(--basic-font-size);
    letter-spacing: 0.3px;
    line-height: 26px;
    text-decoration: none;
}

/* banner-section styles end */

/* main section style start */
main {
    background: #040714;
}

main section {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 120px;
}

/* main section style end */

/* trend section styles start */
.trend-container {
    width: 90%;
    margin: 0 auto;
}

.trend-content-text {
    justify-content: center;
    gap: 23px;
}

.trend-content-text h3 {
    color: var(--color);
    font-weight: normal;
    margin-bottom: 3rem;
}

.trend-content-text h3:nth-child(1n) {
    font-weight: 500;
}

.width {
    border-bottom: 3px solid #fff;
}

.trend-content-image img {
    flex: 1 1 30%;
}

.trend-content-image {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;
}

/* trend section styles end */

/* planner container section styls start */
.planner-container{
    padding-bottom: 100px;
}
.planner-header-text-two{
    width: 240px;
    margin: 0 auto;
    border-radius: 28px;
    color: var(--color);
    background-color: #2B2D37;
    margin-top: 26px;
}
.planner-header-text-two ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}
#seperat-li-color{
    background: #0063E5;
    padding: 8px 14px;
    border-radius: 19px;
}
.planner-text-header h3 ,p{
    color: var(--color);
}
.planner-text-header p{
    font-size: var(--basic-font-size);
}
.planner-text-header h3{
    margin-top: 80px;
    font-size: 2.75rem;
}
.card-container{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}
.card-sub-content , .card-sub-content-two{
    width: 100%;
    padding: 28px 45px;
}
.planner-btn{
    margin-top: 0;
    font-size: var(--basic-font-size);
}
.card{
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 520px;
    border: 1px solid rgb(192, 192, 192);
}

.card-sub-content h3{
    width: 110px;
    color: var(--color);
    margin-bottom: 28px;
}
.card-sub-content h3 span{
    color: var(--description-color);
    font-size: var(--base-font-size);
    font-weight: normal;
}
.card-sub-content ul li{
    color: var(--description-color);
    font-size: var(--base-font-size);
    margin-bottom: 17px;
}
.text-sub-co-content{
    margin-top: 30px;
    font-size: 0.85rem;
    color: var(--description-color);
}
/* planner container section styls end */


/* high-light-content-text section styles start */
.highlight-container{
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
}
.high-light-content-text{
    width: 600px;
}
.high-light-content-text h3{
    font-size: 2.5rem;
    color: var(--color);
}
.high-light-content-text ul li{
    color: var(--description-color);
    margin-bottom: 30px;
    font-size: var(--basic-font-size);
    margin-top: 24px;
}
/* high-light-content-text section styles end */

/*  */
.services-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.services-content h3 {
    font-size: 2.85rem;
    text-align: center;
    color: var(--color);
}

.box {
    color: var(--color);
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: 10px;
    cursor: pointer;
    width: calc(100% - 17px);
    background: #2D2D2D;
}

.hidden-text {
    display: none;
    margin-top: 10px;
    color: var(--color);
    font-size: 1.4rem;
}

.services-sub-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-content {
    margin-top: 25px;
}

.services-section-form>.banner-form {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services-section-form p {
    font-size: 1.25rem;
    color: var(--color);
    margin-top: 20px;
}

.services-section-form {
    text-align: center;
    margin-top: 25px;
    display: block;
}
/*  */